
.logo{
    height: 90px;
}

.carousel-item {
    height: 650px;
  }
  
.carousel-item img {
    height: 100%;
    object-fit: cover; 
  }
  
  .navbar-nav .nav-link {
    color: brown;}


.logoFooter{
  height: 100px;
  border-radius: 50px;
}

table{
  background:#f5fbfc;
  border-radius: 20px;
  
    
}
tr{
  border: 1px solid #242424
}


html, body {
  height: 100%;
  margin: 0;
}

#contenido {
  min-height: 100%;
  min-height: 100%;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#footer {
  width: 100%;
  background-color: #0097B2; /* ajusta el color de fondo según tus preferencias */
  padding: 20px 0; /* ajusta el relleno según tus necesidades */
  margin-top: 100px; /* ajusta este valor para que coincida con el margen inferior negativo de .content */
  margin-bottom: 0px;
}

.card-header{
  color:#025b6a;
  text-align: center;
}
 .card-title{
  color:#025b6a;
  text-align: center;
 }

 .profilepic {
  max-width: 50%;
  height: auto;
  object-fit:cover;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profilesmall{
  width: 50px !important;
  height: 50px !important; 
  border-radius: 30% !important;
}

.card-container {
  max-width: 80%;
   /* Espacio entre la tarjeta y la imagen */
}

.imagenHostal{
  width: 100%;
  border-radius: 15%;
}

.mitad1 {
  float: left;
  width: 50%;
  
}
.card-container{
  width: 80%;
}

.mitad2 {
  float: right;
  width: 50%;
  
}

body{
  background-color: red;
}
