<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- {% block css %} {% endblock css%}-->
    <title>Document</title>
</head>
<body class="body">
    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img class="logo" src="{% static 'image/logo.png' %}" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active fw-bold" id="botonInicioMenu"  style="color: #0097B2; font-size: 18px;" aria-current="page" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" id="botonContactoMenu"  style="color: #0097B2; font-size: 18px;" href="#contacto">Contacto</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" id="reservas" style="color: #0097B2; font-size: 18px;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reservas
                </a>
                <ul class="dropdown-menu ms-auto">
                  {% if user.username == 'paula' %}
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'registroEmpleado' %}" id="linkRegistroEmpleado">Añadir empleado</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;"href="{% url 'addComedores' %}" id="registrarComedor">Añadir Comedor</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'readComedor' %}" id="verPlatos">Administrar Comedor</a></li>
                  <li><a class="dropdown-item" style="color: #0097B2; font-size: 18px;"href="{% url 'formu_create' %}" id="registrarHabitacion">Añadir Habitaciones</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;"href="{% url 'hab' %}" id="verHabitaciones">Administrar Habitaciones</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'addProveedor' %}" id="registrarProveedor" >Añadir Proveedor</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'readProveedor' %}" id="verProveedor">Administrar Proveedores</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'formu_createh' %}" id="linkRegistrarHuesped">Añadir Huesped</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'huespedes' %}" id="verHuespedes">Administrar Huespedes</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="#" id="linkRegistrarCompra">Generar ordén de Compra</a></li>
                  {% endif %}
                  {%  if user.es_empleado and user.username != 'paula' %}
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;" href="{% url 'readProveedor' %}" id="verProveedor">Orden de Pedidos</a></li>
                  {% endif %}
                  {% if user.es_cliente == True %}
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;"href="#" id="verHabitaciones">Ver Habitaciones</a></li>
                  <li><a class="dropdown-item"  style="color: #0097B2; font-size: 18px;"href="#" id="verPlatos">Ver Platos</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" id="linkCerrarSesion" style="color: #0097B2; font-size: 18px;" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link fw-bold" id="linkIniciarSesion" style="color: #0097B2; font-size: 18px;" href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" id="linkRegistroCliente" style="color: #0097B2; font-size: 18px;" href="{% url 'registroCliente' %}">Registrarse</a>
              </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                {% if user.es_cliente == True %}
                <a class="nav-link fw-bold" id="linkPerfilCliente" style="color: #0097B2; font-size: 18px;" href="{% url 'perfilCliente' %}" >
                  {{ user.nombre_empresa }} <img src="{{user.imagen.url}}" class="profilesmall"  alt="" href="{% url 'perfilCliente' %}"></a>

                {% else  %}
                <a class="nav-link fw-bold" id="linkPerfilCliente"  style="color: #0097B2; font-size: 18px;" href="{% url 'perfilCliente' %}" >
                 {{ user.username | capfirst}} <img class="profilesmall"  src="{{user.imagen.url}}" alt="" href="{% url 'perfilCliente' %}"></a>
                {% endif %}
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <div id="contenido">
    {% block contenido %}

      

    {% endblock %}
    </div>
    <footer id="footer">
        <div class="container-fluid">
          <div  class="row p-5 text-white"> 
            <div class="col-xs-12 col-md-6 col-lg-3">
              <p><img class="logoFooter" src="{% static 'image/logo.png' %}" alt=""></p>

            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
              <p class="h5" >Links</p>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-3">
              <p class="h5">Contacto</p>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
            </div>
              
            <div class="col-xs-12 col-md-6 col-lg-3">
              <p class="h5" >Columna</p>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
              <div class="mb-2">
                <a class="text-white text-decoration-none" href="">bla</a>
              </div>
            </div>
          </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>